        <div class="card">
            <i class="fa-solid {{ icon }}"></i>
            <!-- <img src="{{ image }}" alt="{{ alt | default('Card image') }}"> -->
            <div class="card-body">
                <h2>{{ title }}</h2>
                <p>{{ description }}</p>
            </div>

            {% if buttonUrl and buttonText %}
            <a href="{{ buttonUrl }}" class="button">{{ buttonText }}</a>
            {% endif %}
        </div>