@use 'variables' as *;

// Events
.event-tabs {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.event-tab-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    line-height: calc(1.3rem + 2rem * 2);
    margin-top: 3rem;
    padding: 0;

    list-style-type: none;

    // Tab buttons
    li a {
        text-decoration: none;

        background-color: #2B3980;
        color: #E3E2DD;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
        
        margin: 1rem;
        padding: 1rem;
        font-weight: bold;

        font-size: 1.3rem;
        text-decoration: none;
        border-radius: 2rem;

        transition: 0.3s;
        transition-property: background-color, color;

        // on hover
        @media (hover: hover) {
            &:hover {
                background-color: #4657ad;
                color: white;
            }
        }

        // currently selected tab
        &.active-tab {
            background-color: #1d2655;
            color: #a5a4a0;
        }

        // Mobile = smaller buttons
        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1.1rem;
        }
    }
}

.active-section {
    border: 0px solid rgba(0, 0, 0, 0.1);
    
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.event-wrapper-title {
    padding-bottom: 0;
}

#styled-calendar-container {
    position: relative;
    width: fit-content;
    height: auto;   
}

#styled-calendar-container iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
    display: block;
}

.event-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.upcoming-events h1 {
    margin-left: auto;
    margin-right: auto;
    animation: 0.6s ease-out 0s 1 loadContent;
}

.styled-calendar-container {
    position: static;
}


.past-events {
    position: relative;
    
}

.generic-events {
    position: relative;
}

// Splash section on home page

.splash-img {
    background-image: url("/assets/images/comm_banner.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
    
    height: 1500px; 
    max-height: 100svh;
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;

    position: relative;
    top: 0;
    z-index: 10;
}


.splash-text {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.splash-text p {
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.splash-text span {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    line-height: auto;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

.splash-text a.button {
    background-color: #2B3980;
    color: #E3E2DD;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
    
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;

    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 2rem;

    transition: 0.3s;
    transition-property: background-color, color;
}

.splash-text a.button:hover {
    background-color: #4657ad;
    color: white;
}

.splash-p1 {
    animation-delay: 0.5s;
}

.splash-p2 {
    display: inline-block;
    animation-delay: 1s;
}

.splash-p3 {
    animation-delay: 1.5s;
}

.splash-b1 {
    display: inline-block;
    animation-delay: 2.2s;
}
.splash-b2 {
    display: inline-block;
    animation-delay: 2.9s;
}

// Tiles

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card-grid.article {
    padding: 0 0rem;
}

.card {
    width: 24vw;
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.event.last {
    margin-bottom: 2rem;
}

.card-body {
    padding: 1rem;
    min-height: 5vw;
}

.card img {
    max-height: 200px;
}

.card h2 {
    font-size: 2rem;
}

.card i {
    font-size: 4rem;
}

.button {
    background-color: #2B3980;
    color: #E3E2DD;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 0 20px;
    
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    font-weight: bold;

    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 2rem;

    transition: 0.3s;
    transition-property: background-color, color;
}

.button:hover {
    background-color: #4657ad;
    color: white;
}

a.button {
    background-color: #2B3980;
    color: #E3E2DD;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 0 20px;
    
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;

    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 2rem;

    transition: 0.3s;
    transition-property: background-color, color;
}

a.button:hover {
    background-color: #4657ad;
    color: white;
}

/* Responsive layout for small screens */
@media (max-width: $breakpoint-mobile) {
    #styled-calendar-container iframe {
        width: 100% !important;
        height: 300px !important;
        border: none;
        display: block;
    }

    .splash-text span {
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: auto;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
    }   


    .card-grid {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-left: 0;
    }

    .card {
        width: 90%;
        padding: 2rem 1rem;
    }

    .card-body {
        padding: 1rem;
        min-height: auto;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card i {
        font-size: 3rem;
    }

    a.button {
        font-size: 1rem;
        padding: 0.75rem 1rem;
    }

    .event {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
        padding: 2rem;
        max-width: 80vw;
    }

    .event.last {
        margin-bottom: 0;
    }

    .event img {
        max-width: 100%;
    }

    .event-description {
        padding-right: 0;
    }

    .past-events {
        margin: 0;
    }




    .card-grid.article {
    padding: 0;
}
}

.event {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 80%;
    margin: auto;
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

    .event-description {
        padding-right: 1rem;
        max-width: 100%;

        @media screen and (max-width: $breakpoint-mobile) {
            padding-right: 0;
            margin-top: 1rem;
        }
    }
}


.event img {
    max-height: 200px;
}

.question {
    max-width: 60vw;
    margin: auto;
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.question.bottom {
    margin-bottom: 0rem;
}


.socials h1 {
    animation: 0.6s ease-out 0s 1 loadContent;
    margin-bottom: 0;
}

.contact {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 0px;

    @media screen and (max-width: $breakpoint-mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.contact p {
    margin-top: 0;
}
