        <div 
        class="event {% if loop.last %} last {% endif %}">
            <div class="event-description">
                <h2>{{ title }}</h2>
                <p>{{ description }}</p>
            </div>

            <img src="{{ image or '/assets/temp.png' }}" alt="{{ alt | default('Card image') }}">
        </div>