/* base/global styles like root, html, and body */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next");
:root {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #2B3980;
}
body.preload {
  transition: none !important;
}

h1, h2, h3, p {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
}
@media screen and (max-width: 800px) {
  p {
    font-size: 1.1rem;
  }
}

.debug {
  border: 1px solid red;
}

/* styles reusable on every page, such as header, nav, footer, etc. */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0 1rem;
  background-color: #2B3980;
  /* applied to FGSA logo and text */
  /* applied to FGSA logo only */
}
header div {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  padding-left: 1.2rem;
  color: #E3E2DD;
}
header div img {
  height: 40px;
  margin: 0;
  padding: 0;
  padding-right: 1rem;
}
header div p {
  margin: 0;
}

nav {
  font-weight: bold;
  display: inline-block;
  margin: 0;
  padding-right: 2rem;
  /* elements containing the links */
  /* hover effects */
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  height: 100%;
  font-size: 1rem;
  padding: 1rem;
  transition: background-color 0.3s;
  /* the actual links */
}
nav li a {
  text-decoration: none;
  color: #E3E2DD;
  transition: color 0.3s;
}
nav .icon {
  display: none;
  padding: 0 2rem;
}
@media (hover: hover) {
  nav li:hover {
    background-color: #4657AD;
  }
  nav li a:hover {
    color: white;
  }
}

/* mobile layout */
@media screen and (max-width: 800px) {
  .base {
    /* default style */
    /* when burger is clicked */
  }
  .base ul {
    display: none;
    position: static;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: 23.4rem;
    padding: 0rem;
    padding-right: 1rem;
    background-color: #2B3980;
  }
  .base .icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 1000;
    font-size: 1.5rem;
    color: #E3E2DD;
  }
  .base.responsive ul {
    display: flex;
    top: 60px;
    background-color: #2B3980;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2B3980;
  color: #E3E2DD;
  text-align: center;
}
footer p {
  font-size: 1rem;
  margin: 0;
}

/* sections at the top of each page */
.top, .board, .socials, .event-wrapper, .faq {
  padding-top: 60px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.card-grid.article {
  padding: 0 0rem;
}
@media (max-width: 800px) {
  .card-grid {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-left: 0;
  }
}
@media (max-width: 800px) {
  .card-grid.article {
    padding: 0;
  }
}

.card {
  width: 24vw;
  text-align: center;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.card img {
  max-height: 200px;
}
.card h2 {
  font-size: 2rem;
}
.card i {
  font-size: 4rem;
}
@media (max-width: 800px) {
  .card {
    width: 90%;
    padding: 2rem 1rem;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card i {
    font-size: 3rem;
  }
}

.card-body {
  padding: 1rem;
  min-height: 5vw;
}
@media (max-width: 800px) {
  .card-body {
    min-height: auto;
  }
}

a.button {
  background-color: #2B3980;
  color: #E3E2DD;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 0 20px;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 2rem;
  transition: 0.3s;
  transition-property: background-color, color;
}
@media (hover: hover) {
  a.button:hover {
    background-color: #4657ad;
    color: white;
  }
}
@media (max-width: 800px) {
  a.button {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
}

.event {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
  border: 0px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.event img {
  max-height: 200px;
}
.event.last {
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .event {
    flex-direction: column-reverse;
    width: 100%;
    margin: 3rem auto;
    padding: 2rem;
    max-width: 70vw;
  }
  .event.last {
    margin-bottom: 0;
  }
  .event img {
    max-width: 100%;
  }
}

.event-description {
  padding-right: 1rem;
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .event-description {
    padding-right: 0;
    margin-top: 1rem;
  }
}

.event-wrapper {
  background-color: #F4F3EF;
}

.event-wrapper-title {
  padding-bottom: 0;
}

.event-tabs {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.event-tab-list {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  line-height: 5.3rem;
  margin-top: 3rem;
  padding: 0;
  list-style-type: none;
}
.event-tab-list li a {
  text-decoration: none;
  background-color: #2B3980;
  color: #E3E2DD;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 2rem;
  transition: 0.3s;
  transition-property: background-color, color;
}
@media (hover: hover) {
  .event-tab-list li a:hover {
    background-color: #4657ad;
    color: white;
  }
}
.event-tab-list li a.active-tab {
  background-color: #1d2655;
  color: #a5a4a0;
}
@media screen and (max-width: 800px) {
  .event-tab-list li a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 800px) {
  .event-tab-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

.active-section {
  border: 0px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1100px) {
  .active-section {
    max-width: 90%;
    margin: auto;
  }
}

#styled-calendar-container {
  position: relative;
  width: fit-content;
  height: auto;
}
#styled-calendar-container iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
  display: block;
}
@media (max-width: 800px) {
  #styled-calendar-container iframe #styled-calendar-container iframe {
    width: 100% !important;
    height: 300px !important;
    border: none;
    display: block;
  }
}

.event-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.upcoming-events h1 {
  margin-left: auto;
  margin-right: auto;
  animation: 0.6s ease-out 0s 1 loadContent;
}

.styled-calendar-container {
  position: static;
}

.past-events {
  position: relative;
}
@media (max-width: 800px) {
  .past-events .event-description {
    padding-right: 0;
  }
  .past-events .past-events {
    margin: 0;
  }
}

.generic-events {
  position: relative;
}

.splash-img {
  background-image: url("assets/images/comm_banner.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(90%);
  height: 1500px;
  max-height: 100svh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  position: relative;
  top: 0;
  z-index: 10;
}

.splash-text {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.splash-text p {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  margin: 1rem;
}
.splash-text span {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  font-weight: bold;
  font-size: 4rem;
  line-height: auto;
}
.splash-text a.button {
  background-color: #2B3980;
  color: #E3E2DD;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 2rem;
  transition: 0.3s;
  transition-property: background-color, color;
}
@media (hover: hover) {
  .splash-text a.button a.button:hover {
    background-color: #4657ad;
    color: white;
  }
}
@media (max-width: 800px) {
  .splash-text.splash-text span {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: auto;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  }
}

.splash-p3 {
  margin-top: 1.3rem;
}

.question {
  max-width: 60vw;
  margin: auto;
  border: 0px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.question .bottom {
  margin-bottom: 0rem;
}

.socials h1 {
  animation: 0.6s ease-out 0s 1 loadContent;
  margin-bottom: 0;
}

.contact {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 0px;
}
.contact p {
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  .contact {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* styles for page content containers and forms */
section {
  padding: 2rem 0;
  background-color: #F4F3EF;
  /* responsive layout for mobile */
}
section article {
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 800px) {
  section {
    padding: 1rem 0;
    align-self: center;
  }
  section article {
    margin-top: 0;
    padding-bottom: 1rem;
  }
}

article {
  margin: 1rem 10rem;
  padding: 3rem 0;
  animation: 0.6s ease-out 0s 1 loadContent;
}
@media screen and (max-width: 800px) {
  article {
    max-width: 100%;
    margin: 1rem;
    padding-bottom: 2rem;
  }
}

form {
  margin: auto;
}
form label, form input, form textarea {
  margin: auto;
  max-width: 100%;
  font-size: 1.3rem;
}
@media screen and (max-width: 800px) {
  form label, form input, form textarea {
    font-size: 1rem;
  }
}
form label {
  margin-bottom: 1rem;
}
form .text-input, form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.3rem;
}

@keyframes loadContent {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes splashText {
  0% {
    opacity: 0%;
    transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
.splash-p1, .splash-p2, .splash-p3, .splash-b1, .splash-b2 {
  animation: splashText 0.7s forwards;
  opacity: 0%;
}

.splash-p1 {
  animation-delay: 1.5s;
}

.splash-p2 {
  display: inline-block;
  animation-delay: 2s;
}

.splash-p3 {
  animation-delay: 2.5s;
}

.splash-b1 {
  display: inline-block;
  animation-delay: 3.2s;
}

.splash-b2 {
  display: inline-block;
  animation-delay: 3.9s;
}

/*# sourceMappingURL=main.css.map */
