@use '../variables' as *;


.event {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 80%;
    margin: auto;
    border: 0px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

    img {
        max-height: 200px;
    }

    &.last {
        margin-bottom: 2rem;
    }

    @media (max-width: $breakpoint-mobile) {
        flex-direction: column-reverse;
        width: 100%;
        margin: 3rem auto;
        padding: 2rem;
        max-width: 70vw;

        &.last {
            margin-bottom: 0;
        }

        img {
            max-width: 100%;
        }
    }
}

.event-description {
        padding-right: 1rem;
        max-width: 100%;

        @media screen and (max-width: $breakpoint-mobile) {
            padding-right: 0;
            margin-top: 1rem;
        }
    }

.event-wrapper {
    background-color: $background-light;
}


.event-wrapper-title {
    padding-bottom: 0;
}

.event-tabs {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.event-tab-list {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    line-height: calc(1.3rem + 2rem * 2);
    margin-top: 3rem;
    padding: 0;

    list-style-type: none;
    
    // Tab buttons
    li a {
        text-decoration: none;

        background-color: #2B3980;
        color: #E3E2DD;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.5) 1px 0 20px;
        
        margin: 1rem;
        padding: 1rem;
        font-weight: bold;

        font-size: 1.3rem;
        text-decoration: none;
        border-radius: 2rem;

        transition: 0.3s;
        transition-property: background-color, color;

        // on hover
        @media (hover: hover) {
            &:hover {
                background-color: #4657ad;
                color: white;
            }
        }

        // currently selected tab
        &.active-tab {
            background-color: #1d2655;
            color: #a5a4a0;
        }

        // Mobile = smaller buttons
        @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1.1rem;
        }
    }

    

    @media screen and (max-width: $breakpoint-mobile) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

.active-section {
    border: 0px solid rgba(0, 0, 0, 0.1);
    
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $breakpoint-desktop-small) {
        max-width: 90%;
        margin: auto;
    }
}

#styled-calendar-container {
    position: relative;
    width: fit-content;
    height: auto;   

    iframe {
        width: 100% !important;
        height: 100% !important;
        border: none;
        display: block;

        @media (max-width: $breakpoint-mobile) {
            #styled-calendar-container iframe {
                width: 100% !important;
                height: 300px !important;
                border: none;
                display: block;
            }
        }
    }
}

.event-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.upcoming-events h1 {
    margin-left: auto;
    margin-right: auto;
    animation: 0.6s ease-out 0s 1 loadContent;
}

.styled-calendar-container {
    position: static;
}

.past-events {
    position: relative;

    @media (max-width: $breakpoint-mobile) {
        .event-description {
            padding-right: 0;
        }

        .past-events {
            margin: 0;
        }
    }
    
}

.generic-events {
    position: relative;
}