<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/main.css">
		<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
		
		<title>{{ tabtitle }}</title>
	</head>

	<body class="preload">
		<header>
			<div>
				<img src="/assets/temp.png" alt="FGSA logo">
				<text>First Generation Student Alliance</text>
			</div>
			
			{% include "layouts/nav.njk" %}
		</header>
		{% block content %}
			<p>
			Placeholder text.
			</p>
		{% endblock %}
	</body>

	<footer>
		<p>&copy; 2025 First Generation Student Alliance @ UCSD</p>
	</footer>
</html>

<!-- JS -->
<script>
	$(window).load(function() {
		$("body").removeClass("preload");
	});
</script>
