{% extends "layouts/base.html" %}
{% block content %}

        <section class="img-spread">
        </section>

        <section>
            <article>
                <h1>{{ title }}</h1> 
                {{ content | safe }}
            </article>
        </section>

{% endblock %}

