{% extends "layouts/base.html" %}
{% block content %}

        <section class="splash-img">
            <div class="splash-text">
                <p class="splash-p1">We are the</p>
                <span class="splash-p2">First Generation Student Alliance</span>
                <p class="splash-p3">at UC San Diego.</p>

                <a class="button splash-b1" href="about/">Learn More</a>
                <a class="button splash-b2" href="events/">Our Events</a>
            </div>
        </section>

        <section>
            <article>
                <h1>{{ title }}</h1> 
                {{ content | safe }}
            </article>
        </section>

{% endblock %}

