{% set currentUrl %}{{ page.url }}{% endset %}
      <nav id="navbar" class="base">
        <ul role="list">
          {% for page in collections.pages | sort(attribute='data.order') %}
          <li>
            <a{% if currentUrl === page.url %} aria-current="page"{% endif %} href="{{ page.url }}">{{ page.data.navtitle }}</a>
          </li>
          {%- endfor %}
        </ul>
        <a href="javascript:void(0);" class="icon"><i class="fa fa-bars"></i></a>
      </nav>