{% set currentUrl %}{{ page.url }}{% endset %}

<nav>
  <ul role="list">
    <!-- Use if pages get refactored into a different subdirectory
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
    </li>
    !-->

    {% for page in collections.pages %}
    <li>
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}">
          {{ page.data.navtitle }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>