{% set currentUrl %}{{ page.url }}{% endset %}
      <nav>
        <ul role="list">
          {% for page in collections.pages | sort(attribute='data.order') %}
          <li>
            <a {% if currentUrl === page.url %} aria-current="page"{% endif %} href="{{ page.url }}">
              <b>{{ page.data.navtitle.toUpperCase() }}</b>
            </a>
          </li>
          {%- endfor %}
        </ul>
      </nav>