---
tags: 'pages'
title: 'Board Members'
tabtitle: 'Board | FGSA'
navtitle: 'Board'
order: 3
---

{% extends "layouts/base.html" %}
{% block content %}

        <section class="board">
            <article><h1>Board Members</h1></article>

            <section class="card-grid article">
                {% for member in board %}
                    {% set name = member.name %}
                    {% set position = member.position %}
                    {% set college = member.college %}
                    {% set major = member.major %}
                    {% set image = member.image %}
                    {% include "components/board_member.njk" %}
                {% endfor %}
            </section>
        </section>

{% endblock %}