---
tags: 'pages'
title: 'Contact'
tabtitle: 'Contact | FGSA'
navtitle: 'Contact'
order: 6
---
{% extends "layouts/base.html" %}
{% block content %}

        <section class="socials">
            <h1>Socials</h1>
            <section class="card-grid">
                {% for social in socials %}
                    {% set title = social.title %}
                    {% set description = social.description %}
                    {% set icon = social.icon %}
                    {% set buttonUrl = social.buttonUrl %}
                    {% set buttonText = social.buttonText %}
                    {% set alt = social.alt %}
                    {% include "components/tile.njk" %}
                {% endfor %}
            </section>
        </section>

        <section class="contact end">
            <p>
                If you'd also like to send us a message through here, you can!
                This provides a space for people to suggest ideas, feedback or voice concerns
                with the ability to remain anonymous if desired.
            </p>

            <form onsubmit="alert('Thanks for reaching out!');">
                <label for="name">Name/Group/Organization:</label><br>
                <input type="text" id="name" name="name" class="text-input" placeholder='e.g. "FGSA @ UCSD" or "Anonymous"'><br>
                <label for="subject">Topic/Subject:</label><br>
                <input type="text" id="subject" name="subject" class="text-input" placeholder='e.g. "Request to collaborate with..."'><br>
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" cols="80" placeholder="Leave your message here..."></textarea><br>
                <input type="submit" value="Submit" class="button">
            </form>
        </section>

{% endblock %}

