---
tags: 'pages'
title: 'First Generation Student Alliance'
tabtitle: 'Home | FGSA'
navtitle: 'Home'
order: 1
permalink: 'index.html'
---
{% extends "layouts/base.html" %}
{% block content %}

        <section class="splash-img">
            <div class="splash-text">
                <p class="splash-p1">We are the</p>
                <span class="splash-p2">First Generation Student Alliance</span>
                <p class="splash-p3">at UC San Diego.</p>

                <a class="button splash-b1" href="about/">Learn More</a>
            </div>
        </section>

        <section class="card-grid">
            {% for feature in features %}
                {% set title = feature.title %}
                {% set description = feature.description %}
                {% set icon = feature.icon %}
                {% set image = feature.image %}
                {% set buttonUrl = feature.buttonUrl %}
                {% set buttonText = feature.buttonText %}
                {% set alt = feature.alt %}
                {% include "components/tile.njk" %}
            {% endfor %}
        </section>
{% endblock %}

