:root {
    font-family: base_font;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B3980;
}

div {
    border: 1px solid red;
}

@font-face {
    font-family: base_font;
    src: url(https://code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff)
}

body {
    margin: 0;
    padding: 0;
}

body.preload {
    transition: none !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 55px;
    width: 100%;


    margin: 0;
    padding: 0;

    background-color: #2B3980;
}

header img {
    max-height: 90%;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 1em;

    font-size: 1em;
    height: 100%;
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: #4657ad;
}

nav li a {
    text-decoration: none;

    color: #E3E2DD;
    
    transition: color 0.3s;
}

nav li:hover a {
    color: white;
}

@keyframes loadContent {
    0% {
        opacity: 0%;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
} 

article {
    background: #E3E2DD;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    animation: 0.6s ease-out 0s 1 loadContent;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.3rem;
}

section {
    padding: 0;
    margin: 0;
    background-color: #E3E2DD;
}

.img-spread {
    background-image: url("/assets/comm_banner.jpg");
    background-size: cover;
    background-position: center;

    height: 1500px; 
    max-height: 100svh;
    width: 100vw;

    margin: 0;
    padding: 0;


    position: relative;
    top: 0;
    z-index: 10;
}

footer {
    text-align: center;

    height: 40px;
    width: 100%;

    margin: 0;
    padding: 0;

    color: #E3E2DD;
    background-color: #2B3980;
}

footer p {
    font-size: 1rem;
}