:root {
    background: white;
    font-family: base_font
}

@font-face {
    font-family: base_font;
    src: url(https://code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff)
}

body {
    margin: 0;
    padding: 0;
}

.preload {
    transition: none !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333434;
}

nav img {
    max-height: 90%;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 1.1em;
    padding: 1em;
    float: right;
    height: 100%;
    transition: background-color 0.3s;
}

nav li a {
    height: 100%;
    color: darkgray;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s;
}

nav li:hover {
    background-color: #666767;
}

nav li:hover a {
    color: white;
}

@keyframes loadContent {
    0% {
        opacity: 0%;
        transform: translateY(10px);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
} 

article {
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 3rem;
    animation: 0.5s ease-out 0s 1 loadContent;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.3rem;
}
