:root {
    background: white;
    font-family: base_font
}

@font-face {
    font-family: base_font;
    src: url(https://code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff)
}

body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    background-color: #333434;
}

li {
    float: right;
    padding: 1em;
    transition: 0.3s;
}

li a {
    color: darkgray;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

li:hover {
    background-color: #666767;
}

li:hover a {
    color: white;
}


h1, p {
    margin-left: 2rem;
    margin-right: 2rem;
}

h1 {
    font-size: 2rem;
}
